<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kin.ecosystem">

    <application>
        <activity
            android:label="@string/kinecosystem_kin_marketplace"
            android:name=".main.view.EcosystemActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/KinEcosystemTranslucent"/>

        <activity
            android:name=".poll.view.PollWebViewActivity"
            android:theme="@style/KinEcosystemTranslucent"/>

        <activity
            android:name=".transfer.view.AccountInfoActivity"
            android:exported="true"
            android:theme="@style/KinEcosystemNoActionBar" />

    </application>

</manifest>