<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kin.ecosystem.recovery">

    <application>
        <provider
            android:authorities="${applicationId}.KinRecoveryFileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name=".KinRecoveryFileProvider">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/kinrecovery_file_provider_paths"/>

        </provider>

        <activity
            android:label="@string/kinrecovery_backup"
            android:name=".backup.view.BackupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/KinrecoveryNoActionBar"/>

        <activity
            android:label="@string/kinrecovery_restore"
            android:name="com.kin.ecosystem.recovery.restore.view.RestoreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/KinrecoveryNoActionBar"/>

    </application>
</manifest>


