<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kin.ecosystem.transfer" >
    <application>
        <provider
            android:authorities="${applicationId}.AccountInfoFileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name=".AccountInfoFileProvider">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>



    </application>
</manifest>
