<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kin.ecosystem.backup">

    <application>
        <provider
            android:authorities="com.kin.ecosystem.backup"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="android.support.v4.content.FileProvider">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>

        </provider>

        <activity
            android:label="@string/kin_backup_restore"
            android:name=".restore.view.RestoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/KinBackupNoActionBar"/>

    </application>
</manifest>


