<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ecosystem.kin.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App"
        tools:ignore="GoogleAppIndexingWarning">

        <!--"test environment is only for internal usage, you should use only beta or production as you can see below"-->
        <meta-data android:name="com.kin.ecosystem.sdk.EnvironmentName" android:value="test"/>

        <!--<meta-data android:name="com.kin.ecosystem.sdk.EnvironmentName" android:value="@string/kinecosystem_environment_beta"/>-->
        <!--<meta-data android:name="com.kin.ecosystem.sdk.EnvironmentName" android:value="@string/kinecosystem_environment_production"/>-->

        <provider
            android:authorities="${applicationId}.MySampleProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="android.support.v4.content.FileProvider">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths"/>

        </provider>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".AccountInfoServiceImpl"
            android:exported="true">
            <intent-filter>
                <action android:name="kin.transfer.info"/>
            </intent-filter>
        </service>



        <activity android:name=".NativeOfferActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${crashlytics_api_key}"
            />
    </application>

</manifest>