<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kin.ecosystem">

    <application>
        <activity
            android:label="@string/welcome_to_kin"
            android:name=".splash.view.SplashViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/KinecosysNoActionBar"/>
        <activity
            android:label="@string/kin_marketplace"
            android:name=".marketplace.view.MarketplaceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/KinecosysNoActionBar"/>
        <activity
            android:label="@string/transaction_history"
            android:name=".history.view.OrderHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/KinecosysNoActionBar"/>
        <activity
            android:name=".poll.view.PollWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/KinecosysNoActionBar"/>
    </application>

</manifest>