<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kin.ecosystem">


    <application>

        <activity
            android:name=".marketplace.view.MarketplaceActivity"
            android:label="@string/kin_marketplace" />

    </application>


</manifest>